modules = ["nodejs-20", "web", "python-base-3.13", "postgresql-16"]

[nix]
channel = "stable-25_05"
packages = ["chromium", "freetype", "gumbo", "harfbuzz", "jbig2dec", "libjpeg_turbo", "mupdf", "openjpeg", "swig", "xcbuild"]

[agent]
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 180000

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[userenv]

[userenv.shared]
FANDOM_AUTH_FROM_EMAIL = "Fandom <login@auth.justlikekatie.com>"
FANDOM_STRIPE_MEMBERSHIP_PRICE_ID = "price_1U9wdPA2dmJoz1OfWqkJVcmY"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3002
exposeLocalhost = true

[[ports]]
localPort = 5002
externalPort = 3003

[[ports]]
localPort = 5003
externalPort = 4200
exposeLocalhost = true

[[ports]]
localPort = 5004
externalPort = 5000
exposeLocalhost = true

[[ports]]
localPort = 5173
externalPort = 5173
exposeLocalhost = true

[[ports]]
localPort = 5174
externalPort = 3000
exposeLocalhost = true

[[ports]]
localPort = 23636
externalPort = 3001
